<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{!-- <button class="btn"><i class="fa fa-home"></i> Home</button> --}}
<input type=button class="btn" onClick="location.href='/'" class="btn" value="Home"></input>


<head>
	<title>Saved Captions - Pop Culture Caption Generator</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/captions.css" type="text/css" media="screen" title="no title"
		charset="utf-8">
	<link rel="icon" href="images/logo.png">
</head>

<body>

	<p class="d-flex justify-content-center" style="font-size: x-large">Keyword:</p>


	<form class="search-form" method="POST" action="">
		<input name="keyword_search" type="text" placeholder="keyword" id="keyword_search">
		{{!-- <input id="button" type="search" value="Search"> --}}
	</form>

	{{!-- <table class="styled-table">
{{#each captions}}
	<tr>
		<td>{{this.name}}</td>
	</tr>
{{/each}}
</table> --}}

	<table class="styled-table">
		<thead>
			<tr>
				<th>All Captions</th>
			</tr>
		</thead>
		<tbody>
			{{#each captions}}
				<tr class="active-row">
					<td>{{this.name}}</td>
					<td><a href="/captions/delete?id={{this.id}}"
							onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<script src="js/caption.js"></script>

</body>