
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" title="no title"
			charset="utf-8">
	</head>

	<body>
		<div id="container">
			<div id="header">
				<div id="left-col">
					<section class="logo-name">
						<h1>Pop Culture Generator</h1>
					</section>
				</div>

				<div id="right-col">
					<div id="links">
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>

						<!-- <li><a href="login.html">Login</a></li>
						<li><a href="register.html">Register</a></li> -->
					</div>
				</div>
			</div>
			<div id="content">
				<h2>Generate a Caption from only One Word!</h2>
				<div class="form-container">
					<p>
						Caption Type:
						<select id="filterType" name="type" class="type">
							<option value="">All</option>
							<option value="movies">Movie Quotes</option>
							<option value="songs">Song Lyrics</option>
						</select>
					</p>
					<p>Keyword: <input type="text" id="filterWord" name="word" class="word" maxlength=""></p>
					<input onclick="keyword_input()" id="filterBtn" type="submit" value="Search">
				</div>
				<tbody>
					<div id="messages"></div>
					</tbody>
			</div>
		</div>
		<script src="js/main.js"></script>
	</body>


