<head>
	<link rel="stylesheet" href="stylesheets/login.css">
	<title> Login </title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
</head>

<body>
	<div class="login-page">
		<div class="form">

			<div class="login">
				<div class="login-header">
					{{#if error}}
						<p class="err-msg">Username or password is incorrect</p>
					{{/if }}
					<h3>LOGIN</h3>
					<p>Please enter your credentials to login.</p>
				</div>
			</div>

			<form class="login-form" method="POST" action="">
				<input name="username" type="text" placeholder="username">
				<input name="password" type="password" placeholder="password">
				<input id="button" type="submit" value="Login">
				<p class="message">Not registered? <a href="/register">Register Here</a></p>
			</form>
		</div>
	</div>
</body>