* {
    margin: 0;
    padding: 0;
}

#header {
    margin: 0 auto;
    width: 95vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body {
    margin: 0 auto;
    width: 95vw;

}