<head>
	<link rel="stylesheet" href="stylesheets/register.css">
	<title>Register - Pop Culture Caption Generator</title>
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
	<link rel="icon" href="images/logo.png">
</head>

<body>
	<div class="login-page">
		<div class="form">

			<div class="login">
				<div class="login-header">
					{{#if error}}
						<p class="err-msg">This user already exists</p>
					{{/if }}
					<h3>REGISTER</h3>
					<p>Please enter your credentials to register.</p>
				</div>
			</div>

			<form class="login-form" method="POST" action="">
				<input name="username" type="text" placeholder="username">
				<input name="password" type="password" placeholder="password">
				<input id="button" type="submit" value="Register">
				<p class="message">Already have an account? <a href="/login">Login</a></p>
			</form>
		</div>
	</div>
</body>