body {
    background-color: #E3E4FA;
    /* background-image: linear-gradient(45deg, #328f8a, #08ac4b); */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Fira Sans Extra, sans;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6269f1;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #fefefe;
}

.styled-table tbody tr {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6269f1;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #6269f1;
}

/* Style buttons */
.btn {
    background-color: #6269f1; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #6269f1;
  }

  .navClass {
    width: 97%;
    margin: 10px auto;
}

.navClass1 {
    margin: 15px 0 15px 0;
    border-radius: 10px;
    /* background-color: black; */
}

.navClass2 {
    /* margin-left: 60px; */
    margin-right: 0;
    /* font-size: 20pt;
    font-weight: 400; */
}

.navClass3 {

    margin-left: auto;
    margin-right: 60px;
}

nav img {
    width: auto;
    height: 80px;
    margin-right: 10px;
}

.whiteSpace1 {
    height: 100px;
}

.whiteSpace2 {
    height: 80px;
}

.whiteSpace3 {
    width: 30%;
    margin: 0 auto;
}

.col img {
    height: 450px;
    width: auto;
}

.text-bg-dark {
    color: #fff !important;
    background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important;
}

.bgMsg {
    color: white;
    background-color: #0072bb;
}