/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

body {
    font-family: Fira Sans Extra, sans;
}

header .header {
    background-color: #fff;
    height: 45px;
}

header a img {
    width: 134px;
    margin-top: 4px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.login-page .form .login {
    margin-top: -31px;
    margin-bottom: 26px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: medium solid #708090;
    border-radius: 5%;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

.form #button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #2cb7c7;
    /* background-image: linear-gradient(45deg, #328f8a, #08ac4b); */
    width: 100%;
    border: 0;
    padding: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    color: #98afc7;
    font-size: 12px;
}

.form .message a {
    color: #0072bb;
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

body {
    background-color: #E3E4FA;
    /* background-image: linear-gradient(45deg, #328f8a, #08ac4b); */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.err-msg {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}