* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Fira Sans Extra, sans;
	box-sizing: content-box;
	background-color: #E3E4FA;
	letter-spacing: 0.05em;
	/*background-color: #1C6E8C; */
	color: #050311;
}

#messages {
	display: block;
	width: 90%;
	margin: 30px auto 0 auto;
	text-align: center;
}

#messages div {
	width: 90%;
	margin: 30px auto 0 auto;
	text-align: center;
}

/* outputbutton {
	background: none;
	border: none;
	text-decoration: underline;
} */

#container {
	display: block;
	position: relative;
	width: 100%;
	max-width: 100%;

}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	/* background-color: #274156; */
	color: black;

	/* width: 850px;
	height: 70px; */
	width: 100%;
	height: 10%;
	/* margin: 10px auto 10px auto; */

	/* border-radius: 10px; */

}

#header h1 {
	/* color: rgb(227, 228, 250); */
	/* color: black; */
}

#left-col {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 35%;
}

#right-col {
	width: 35%;
}

#right-col #links {
	display: flex;
	vertical-align: middle;
	justify-content: space-around;
	/* width: 300px; */
}

#links li {
	list-style: none;
}

#links a {
	/* color: rgb(227, 228, 250); */
	color: black;
	letter-spacing: 0.2px;
	font-size: 20px;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

#content .pic1 {
	width: 25%;
	height: 90%;
	/* margin-left: -80px; */
}

.pic1 img {
	width: 20%;
	height: 30%;
}

#content .pic2 {
	width: 25%;
	height: 90%;
	/* margin-right: -80px; */
}

.pic2 img {
	width: 20%;
	/* height: 30%; */
}

#content {
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	/* padding: 80px 32px 3px 32px; */
	padding-bottom: 20px;
}

#content .main {
	width: 50%;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	align-items: center;
	justify-content: flex-start;
}

#content h1 {
	/* font-size: 50px; */
	/* width: 100%; */
	/* height: 200px; */
	display: flex;
	justify-content: center;
	font-size: 60px;
	line-height: 64px;
	font-weight: 600;
	text-align: center;
}

.form-container {
	text-align: center;
	margin: auto;
}

.form-container form>p {
	display: inline-block;
	padding: 0em 0.5em 0em 0.5em;
}

.form-title {
	height: 200px;
}

/* .list-choice {
	width: 300px;
	margin: 1em auto;
	position: relative;
	cursor: pointer;
}

.list-choice input[type="radio"] {
	position: absolute;
	left: -9999px;
}

.list-choice-title {
	width: 100%;
	display: block;
	background: #D8D8D8;
	text-align: center;
	padding: 0.55em 1em;
	box-sizing: border-box;
	color: #FFF;
	text-shadow: 0 1px 0 #CACACA;
	border-radius: 0.2em;
}

.list-choice:hover .list-choice-title {
	border-radius: 0.2em 0.2em 0 0;
}

.list-choice-objects label:nth-last-of-type(1) span {
	border-radius: 0 0 0.2em 0.2em;
}

.list-choice input[type="radio"]+span {
	color: #FFF;
	background: #D8D8D8;
	padding: 0.55em 1em;
	display: block;
	text-align: center;
	box-sizing: border-box;
	cursor: pointer;
	width: 100%;
}

.list-choice-objects {
	position: absolute;
	top: 0;
	padding-top: 2.1em;
	box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	max-height: 0;
	transition: all 250ms ease;
}

.list-choice:hover .list-choice-objects input[type="radio"]+span {
	position: relative;
	top: 0;
	transition: all 250ms ease-in-out;
}

.list-choice:hover input[type="radio"]+span:hover {
	background: #BBB;
}

.list-choice:hover input[type="radio"]:checked+span:hover {
	background: #74D68E;
}

.list-choice input[type="radio"]:checked+span {
	background: #74D68E;
	position: absolute;
	top: 0em;
	border-radius: 0.2em;
}

.list-choice:hover input[type="radio"]:checked+span {
	border-radius: 0;
}

.list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked+span {
	border-radius: 0 0 0.2em 0.2em;
}

.list-choice:hover .list-choice-objects {
	max-height: 540px;
} */